<%= form_for @user do |f| %>
  <div class="form-field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-field">
    <%= f.label :birthday %>
    <%= f.date_field :birthday %>
  </div>
  <div class="form-field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <div class="form-field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="form-field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <% if new_user %>
    <div class="form-field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="form-field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  <% end %>
  <%= f.submit %>
<% end %>