<div class="form-container">
  <% if @user.errors.any? %>
    <div class="form-errors">
      <h4>There were errors on this page:</h4>
      <ul class="error-list">
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @user do |f| %>
    <div class="form-field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="form-field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <div class="form-field">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <div class="form-field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="form-field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="form-field">
      <%= f.label :birthday %>
      <%= f.date_field :birthday %>
    </div>
    <%= f.submit %>
  <% end %>
</div>