<div class="profile container"><div class="row">
  <div class="sidebar col-4">
    <!-- <div class="profile-photo">
      <%= image_tag "https://pbs.twimg.com/profile_images/874417950/003-2-square_400x400.jpg", alt: @user.name %>
    </div> -->
    <h2 class="profile-name"><%= @user.name %></h2>
    <span class="profile-username">@<%= @user.username %></span>
    <span class="profile-birthday">Birthday: <%= @user.birthday_formatted %></span>
  </div>
  <main role="main" class="col">
    <div class="astro-info <%= @user.color_class %> <%= @user.polarity_class %>">
      <h4><%= @user.astro_sign %></h4>
      <p><%= @user.astro_description %></p>
      <div class="asto-attribute">
        <span class="astro-attribute-key">Traits: </span>
        <span class="astro-attribute-value"><%= @user.astro_traits %></span>
      </div>
      <div class="asto-element">
        <span class="astro-element-key">Element: </span>
        <span class="astro-element-value"><%= @user.astro_element %></span>
      </div>
    </div>
  </main>
</div></div>	
