<div class="profile container"><div class="row">
  <div class="sidebar col-3">
    <div class="profile-photo">
      <%= image_tag @user.avatar_url, alt: @user.name %>
    </div>
    <h4 class="profile-name"><%= @user.name %></h4>
    <span class="profile-username">@<%= @user.username %></span>
    <span class="profile-birthday"><%= @user.birthday_formatted %> (<%= @user.age %>)</span>

    <% if is_current_user? %>
      <div class="profile-actions">
        <%= link_to "Update Profile", edit_user_path(@user), class: "btn btn-outline-secondary find-matches" %>
      </div>
    <% end %>
  </div>
  <main role="main" class="col">
    <%= render @user.astro %>
    <% if is_current_user? %>
      <%= render "matches" %>
    <% end %>
  </main>
</div></div>	
