<div class="profile container"><div class="row">
  <div class="sidebar col-4">
    <!-- <div class="profile-photo">
      <%= image_tag "https://pbs.twimg.com/profile_images/874417950/003-2-square_400x400.jpg", alt: @user.name %>
    </div> -->
    <h2 class="profile-name"><%= @user.name %></h2>
    <span class="profile-username">@<%= @user.username %></span>
    <span class="profile-birthday">Birthday: <%= @user.birthday_formatted %></span>
  </div>
  <main role="main" class="col">
    <%= render @user.astro %>
  </main>
</div></div>	
