<div class="profile container"><div class="row">
  <div class="sidebar col-4">
    <!-- <div class="profile-photo">
      <%= image_tag "https://pbs.twimg.com/profile_images/874417950/003-2-square_400x400.jpg", alt: @user.name %>
    </div> -->
    <h2 class="profile-name"><%= @user.name %></h2>
    <span class="profile-username">@<%= @user.username %></span>
    <span class="profile-birthday">Birthday: <%= @user.birthday_formatted %></span>

    <% if is_current_user? %>
      <div class="profile-actions">
        <%= link_to "Update Profile", edit_user_path(@user) %>
      </div>
    <% end %>
  </div>
  <main role="main" class="col">
    <%= render @user.astro %>
    <% if is_current_user? %>
      <%= render "matches" %>
    <% end %>
  </main>
</div></div>	
