<div class="astro-info <%= astro.color_class %> <%= astro.polarity_class %>">
  <h4><%= astro.sign %></h4>
  <p><%= astro.description %></p>
  <div class="asto-attribute">
    <span class="astro-attribute-key">Traits: </span>
    <span class="astro-attribute-value"><%= astro.traits %></span>
  </div>
  <div class="asto-attribute">
    <span class="astro-attribute-key">Most Compatible: </span>
    <span class="astro-attribute-value"><%= astro.top_compatible_string %></span>
  </div>
  <div class="asto-element">
    <span class="astro-element-key">Element: </span>
    <span class="astro-element-value"><%= astro.element %></span>
  </div>
</div>